<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Content</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.event_id %></td>
        <td><%= task.user_id %></td>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', event_task_path(@event, task) %></td>
        <td><%= link_to 'Edit', edit_event_task_path(@event, task) %></td>
        <td><%= link_to 'Destroy', event_task_path(@event, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_event_task_path %>
