<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @task.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<%= link_to 'Edit', edit_event_task_path(event_id: @event, id: @task) %> |
<%= link_to 'Back', event_tasks_path %>
