<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<ul class="nav">
  <% if user_signed_in? %>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "facebookでログイン", user_omniauth_authorize_path(:facebook) %></li>
  <% end %>
</ul>

<div>
  <% @events.each do |event| %>
  <div>
    <%= event.owner.name  %>
    <%= event.title %>
    <%= event.description %>
    <%= event.place %>
    <%= link_to 'Go!', event %>
  </div>
  <% end %>
</div>