<h1>Listing events</h1>
<div>
  <%= link_to 'New Event', new_event_path %>
</div>
<table class="table table-stripe">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Title</th>
      <th>Description</th>
      <th>Place</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.owner.name %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.place %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

